@import "variables";
@import "mixins";

.tageditor-header{

    .padding(6px,2px,5px,5px);
    .border-radius-corners(5px,5px);
    height: auto;
    white-space: normal;
    background: @header-background-color;
    border-bottom-color: @outer-border-color;

    span.tool {
        display: inline-block;
        .padding(5px,5px,5px,5px);
        width: @header-tool-width;
        height: @header-tool-height;
        border: 1px solid  @header-background-color;
        text-align: center;

        &:hover{
            border: 1px solid #727272;
            background-color: #ebebeb;
        }

        &:active{
            background-color: #bcbcbc;
        }

        &>i{
            line-height: @header-tool-height;
        }
    }
}